rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are permissive and are meant for development.
    // They allow any user to read and write to your entire database.
    // For a production app, you should implement more secure rules.
    // https://firebase.google.com/docs/firestore/security/get-started
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
